.field
{
    width: 300px;
}

.submitbutton
{
    background-color: rgb(74, 182, 79);
    width: 90px;
}
.clearbutton
{
    margin-left: 130px;
    background-color: rgb(74, 182, 79);
    width: 80px;
}